{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

<div>
    <div>
        <ul>
            <li>Author: {{auction.user}}</li>
            <li>Title: {{auction.title}}</li>
            <li>Description: {{auction.description}}</li>
            <li>Category: {{auction.category}}</li>
            <li>Created: {{auction.date}}</li>
            {% if auction.last_bid %}
                <li id="lastBid" class="lastBid{{auction.id}}" value="{{auction.last_bid.bid}}">Current Bid: {{auction.last_bid.bid}}</li>
            {% else %}
                <li id="initialBid" class="lastBid{{auction.id}}" value="{{auction.starting_bid}}">Initial Bid: {{auction.starting_bid}}</li>
            {% endif %}
            {% if request.user != auction.user %}
            <small><span id="smallTotalBid">{{auction.bids.count}}</span> bid(s) so far. <span id="yourLastBid">{% if auction.last_bid.user == request.user %}Your bid is the current bid.{% endif %}</span></small>
            <form id="addBid" data-auction="{{auction.id}}" action="{% url 'bid_to_auction' auction=auction.id %}">
                {% csrf_token %}
                <input type="number" name="totalBid" id="newBid" placeholder="Total bid">
                <button type="submit">Send</button>
            </form>
            {% endif %}
        </ul>
    </div>
    {% if auction.user != request.user %}
        {% if auction not in my_watchlist.auctions.all %}
            <form id="addToWatchlist" action="{% url 'add_to_watchlist' auction=auction.id %}">
                {% csrf_token %}
                <button class="btn btn-dark" type="submit">Add to Watchlist</button>
            </form>   
        {% endif %}
    {% endif %}

    {% if auction.user == request.user %}
        <a href="{% url 'delete_auction' auction=auction.id %}">Delete</a> 
    {% endif %}
    <hr>

    {% if auction.comments %}
        {% for comment in auction.comments.all %}
        <div class="comment">
            <small>{{comment.user}}</small>
            <p>{{comment.comment}}</p>
            <small>{{comment.date}}</small>
        </div>
        {% endfor %}
    {% endif %}

    <div class="form-group add-comment">
        <form id="addComment" action="{% url 'add_comment' auction=auction.id %}">
            {% csrf_token %}
            <label class="form-check-label" for="commentToAdd"><strong>Leave a comment</strong></label>
            <textarea class="form-control" rows="3" id="commentToAdd" name="comment"></textarea>
            <button class="btn btn-info" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}