{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <p id="listings-title">All the products</p>
    <div class="container">
        <div class="row">
            {% for auction in auctions %}
                <div class="card col-lg-4 col-sm-12">
                    <div class="card-body">
                    <h5 class="card-title">{{auction.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{auction.date}}</h6>
                    <img src="{{auction.image.url}}" alt="connect" style="max-height:300px">
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if auction.last_bid %}
                            <li class="list-group-item">Current Bid: ${{auction.last_bid.bid}}</li>
                        {% else %}
                            <li class="list-group-item">Initial Bid: ${{auction.starting_bid}}</li>
                        {% endif %}
                        <li class="list-group-item">Category: {{auction.category}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'auction_view' auction=auction.id %}" class="card-link">Auction page</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}