{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <div class="register">
        <h2 class="title">Register</h2>

        {% if message %}
            <div style="color: red;">{{ message }}</div>
        {% endif %}

        <form class="needs-validation" action="{% url 'register' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address" required>
                <div class="invalid-feedback">
                    Please choose a email.
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" required>
                <div class="invalid-feedback">
                    Please choose a password.
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
                <div class="invalid-feedback">
                    Please repit your password.
                </div>
            </div>
            <p class="message">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
            <div class="btn-right">
                <input class="btn btn-auction" type="submit" value="Register">
            </div>
        </form>

    </div>
</div>

{% endblock %}