{% extends "auctions/layout.html" %}

{% block body %}

<div>

    {% if my_watchlist %}
        {% for auction in my_watchlist.auctions.all %}
            <div>
                <ul>
                    <li>Author: {{auction.user}}</li>
                    <li>Title: {{auction.title}}</li>
                    <li>Description: {{auction.description}}</li>
                    <li>Category: {{auction.category}}</li>
                    {% if auction.last_bid %}
                        <li>Last Bid: {{auction.last_bid.bid}}</li>
                    {% else %}
                        <li>Initial Bid: {{auction.starting_bid}}</li>
                    {% endif %}
                    <button>Delete from watchlist</button>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h1>{{message}}</h1>
        </div>
    {% endif %}
</div>

{% endblock %}