{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

<div>

    {% if my_watchlist %}
        {% for auction in my_watchlist.auctions.all %}
            <div id="auction{{auction.id}}">
                <ul>
                    <li>Author: {{auction.user}}</li>
                    <li>Title: {{auction.title}}</li>
                    <li>Description: {{auction.description}}</li>
                    <li>Category: {{auction.category}}</li>
                    {% if auction.last_bid %}
                        <li>Last Bid: {{auction.last_bid.bid}}</li>
                    {% else %}
                        <li>Initial Bid: {{auction.starting_bid}}</li>
                    {% endif %}
                    <form data-auction={{auction.id}} id="deleteFromWatchlist" action="{% url 'delete_auction_from_watchlist' auction=auction.id %}">
                        {% csrf_token %}
                        <button>Delete from watchlist</button>
                    </form>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h1>{{message}}</h1>
        </div>
    {% endif %}
</div>

{% endblock %}