@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@media (max-width: 768px) {
  .principal {
    height: auto;
  }
  .categories-left {
    height: auto;
  }
  .actions-right {
    height: auto;
  }
}

@media (min-width: 769px) {
  .principal {
    height: 100vh;
  }
  .categories-left {
    height: 100vh;
  }
  .actions-right {
    height: 100vh;
  }
}

.navBar-top {
  background-color: #c7d5ff;
  border-bottom: 1px #a3a3a3 solid;
}

.principal {
  background-color: #f2f2f2;
}

.categories-left {
  background-color: #546fba;
  border-right: 1px #a3a3a3 solid;
}

.actions-right {
  background-color: #546fba;
  border-left: 1px #a3a3a3 solid;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.name-top-left {
  font-size: 60px;
  text-align: left;
  margin-left: 40px;
  font-family: 'Bangers', cursive;
  color: #333333;
}

.name-top-left:hover {
  text-decoration: none;
  color: #595959;
}

.btn-auctions-right {
  margin: 10px;
  font-size: 24px;
}

.btn-category-left {
  text-align: center;
  margin: 6px;
  font-size: 18px;
  color: white !important;
  background-color: #1137cf;
}

.btn-profile-right {
  margin: 10px;
  font-size: 20px;
}

.comment {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

#listings-title {
  font-size: 32px;
  text-align: center;
  margin: 10px;
  border-bottom: 1px solid black;
}

.add-comment {
  margin-top: 40px;
}

#watchListTotal {
  background: red;
  border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 26px;
}

#product{
  padding: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&display=swap');
.product-title{
  font-family: 'DM Mono', monospace;
  font-size: 26px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
.product-description{
  font-family: 'DM Mono', monospace;
}

.product-category{
  position: absolute;
  top: 8px;
  right: 30px;
}

.product-date{
  position: absolute;
  bottom: -14px;
  right: 30px;
}

.category-link{
  color: black !important;
}

.category-link:hover{
  color: grey !important;
}