
$buton-margin: 10px;
$border-color: #546fba;

@media (max-width: 768px) {
    .principal{
        height: auto;
    }
    .categories-left{
        height: auto;
    }
    .actions-right{
        height: auto;
    }
}

@media (min-width: 769px) {
    .principal{
        height: 100vh;
    }
    .categories-left{
        height: 100vh;
    }
    .actions-right{
        height: 100vh;
    }
}

.navBar-top{
    background-color: #c7d5ff;
    border-bottom: 1px #a3a3a3 solid;
}

.principal{
    background-color: #f2f2f2;
}

.categories-left{
    background-color: $border-color;
    border-right: 1px #a3a3a3 solid;
}

.actions-right{
    background-color: $border-color;
    border-left: 1px #a3a3a3 solid;
}

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
.name-top-left{
    font-size: 36px;
    text-align: left;
    margin-left: 40px;
    font-family: 'Krona One', sans-serif;
    color: #333333;
}

.name-top-left:hover{
    text-decoration: none;
    color: #595959;
}

.btn-auctions-right{
    margin: $buton-margin;
    font-size: 24px;
}

.btn-category-left{
    text-align: center;
    margin: 6px;
    font-size: 18px;
    color: white !important;
    background-color: #1137cf;
}

#search-input{
    margin: $buton-margin;
    font-size: 20px;
    width: 40%;
}

.btn-profile-right{
    margin: $buton-margin;
    font-size: 20px;
}

.comment{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

#listings-title{
    font-size: 32px;
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid black;
}

.add-comment{
    margin-top: 40px;
}

#watchListTotal{
    background: red;
    border-radius: 0.8em;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 26px; 
}